*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    line-height: 18px;
    padding: 0 35px;
}

h1{
    padding: 10px 0;
    font-size: 25px;
    color: black;
}

textarea {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 2px solid rgb(117, 117, 117);
    border-radius: 15px;
    outline: none;
}